@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.revWrap {
	
	width: 1600px;
	margin-top: 30px;
	font-family: 'Nanum Gothic', sans-serif;
}

.wrap {
	width: 40%;
	margin: 0 auto;
}

.title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}


