<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.dogs.mapper.ComAttachMapper">
  
	<select id="getComAttachList" resultType="com.dogs.model.ComAttachImageVO">
		select * from commuImage where bno = #{bno}
	</select>
	
  </mapper>