@charset "UTF-8";

.clear {
	clear: both;
}

*{
	margin: 0 auto;
}

#review {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	margin-top: 160px;
}

.page_text {
	text-align: center;
}

.page_text h1 {
	color: pink;
}

#review .review {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

#review .review .list {
	width: 1200px;
	margin: 0 auto;
	/* 	justify-content: space-evenly;
	flex-direction: row; */
	position: relative;
}

#review .review .list .page_text {
	margin-top: 50px;
	margin-bottom: 50px;
}

#review .review .list .content {
	display: none;
	width: 250px;
	height: 250px;
	/* 	border: 1px solid black;
	box-sizing: border-box;  */
	position: relative;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 50px;
}

#review .review .list .content .image {
	width: 250px;
	height: 250px;
	position: relative;
}

#review .review .list .content .cover {
	width: 250px;
	height: 250px;
	/* 	border: 1px solid black;
	box-sizing: border-box;  */
	top: 0px;
	opacity: 0.0;
	transition: opacity .4s ease-in-out;
	background-color: black;
	position: absolute;
}

#review .review .list .content .cover:hover {
	opacity: 0.7;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

#review .review .list .content .cover:hover + .text {
	opacity: 1.0;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}

#review .review .list .content .text {
	pointer-events: none;
	user-select: none;
	color: white;
	left: 23px;
	bottom: 113px;
	opacity: 0.0;
	transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;
	position: absolute;
	z-index: 1;
}

#review .review .menu {
	width: 1200px;
	padding-bottom: 10px;
}

#review .review .menu .more {
	margin: 0 auto;
	text-align: center;
}

#review .review .menu .more #moreView {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border: 2px solid black;
	color: black;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	/* margin-top: 50px; */
	margin-bottom: 60px;
	padding: 0.8em 4.0em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	
	&:hover {
		color: #fff;
		box-shadow: 0 0 40px 40px black inset;
	}
}

#review .review .menu .search {
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
}

#review .review .menu .search #search_option {
	width: 150px;
	height: 30px;
	font-size: 1rem;
}

#review .review .menu .search #search_keyword {
	width: 150px;
	height: 24px;
	font-size: 1rem;
	color: gray;
}

#review .review .menu .search #search_btn {
	width: 100px;
	height: 30px;
	font-size: 0.8rem;
	background-color: black;
	color: white;
}