

#member_update_wrap h2 {
	margin-bottom: 16px;
}

#member_update {
	padding: 30px 20px 16px;
	border-top: 1px solid black;
	border-bottom: 1px solid #b5b5b5;
}

#required {
	width: 4px;
	height: 4px;
	margin-left: 3px;
	color: #ee1c25;
	vertical-align: text-top;
}

#member_update table tr {
	height: 50px;
}

#member_update table tr th {
	color: #333;
	padding: 11px 0;
	vertical-align: top;
	width: 130px;
	text-align: left;
}

#member_update table tr td {
	color: #666;
	font-size: 14px;
	text-align: left;
	font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

#member_update table tr td input {
	padding: 0px 11px;
	width: 350px;
	height: 38px;
	border: 1.5px solid #000;
}

#button {
	margin-top: 50px;
	padding-top: 0;
	border-top: none;
	text-align: center;
}

#submit {
	min-width: 200px;
	height: 60px;
	line-height: 58px;
	font-size: 16px;
	letter-spacing: -.8px;
	background: #111111;
	padding: 0 25px;
	color: #FFFFFF;
	font-family: "Noto Sans KR", sans-serif;
}