@charset "UTF-8";

/* 페이지 전체에 대한 스타일 초기화 */
html, body {
    margin: 0;
    padding: 0;
}

.mainwapper {
	top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}

.adbanner {
    width: 100%;
    height: 925px;
    overflow: hidden; /* 공간이나 내용이 넘치는 경우 숨김 처리 */
    position: relative; /* 위치 지정을 변경 */
    top: 0;
    left: 0;
}

.adbanner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 늘리거나 줄여서 채우도록 설정 */
}







