@charset "UTF-8";

/* Screen total level */
.headerwrapper {
	padding : 0;
	margin : 0;
    width: 100%;
}

/* Header total level */
.header {
    width: 1600px;
    height: 150px;
    margin: auto;
    position: relative; 
    background-color: gray;
}

/* Logo Area */
.logo_area {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Top GNB Area */
.top_gnb_area {
    position: absolute;
    top: 0;
    right: 0;
}

.userList {
    list-style: none;
}

.userList li {
    display: inline-block;
    margin-left: 20px;
}

.userList a {
	color : black;
	text-decoration: none;
	font-weight : bold;
	font-size : 1.1em;
}

/* Header Menu */
.header_menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menuList {
    display: flex;
    list-style: none;
}

.menuList li {
	position: relative;
    display: inline-block;
    margin-left: 80px;
    text-align: center; /* 가운데 정렬 */
}

.menuList li:hover .subMenu {
    display: block;
    text-align: left; /* 왼쪽 정렬 */
}

.menuList li a {
	color : black;
	text-decoration: none;
	font-size : 1.4em;
	font-weight : 500;
}

.menuList li a:hover {
	text-decoration: underline;
}

/* 수정된 부분 */
.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; /* 배경 색상 지정 */
    border: 1px solid black; /* 테두리 선 지정 */
    padding: 10px; /* 안쪽 여백 지정 */
    width: max-content; /* 최대 내용 크기만큼 넓힘 */
}

/* 수정된 부분 */
.subMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 수정된 부분 */
.subMenu a {
    display: block;
    color: black; /* 텍스트 색상 지정 */
    text-decoration: none;
    padding: 5px 0; /* 여백 조정 */
    font-size: 0.8em; /* 글자 크기 조정 */
}

/* 수정된 부분 */
.subMenu a:hover {
    background-color: #f0f0f0; /* 마우스 오버시 배경 색상 변경 */
}

/* 수정된 부분 */
.subMenu a:not(:last-child) {
    border-bottom: 1px solid black; /* 각 메뉴들마다 구분선 추가 */
}




